# PyTorch (install separately with CUDA support)
# pip install torch==2.9.1 torchvision==0.24.1 --index-url https://download.pytorch.org/whl/cu130

matplotlib
tensorboard
scipy
tifffile
opencv-python
pandas
numpy
tqdm
imagecodecs
scikit-image
